# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Database files
*.db

# Uploaded files
static/uploads/

# OS files
.DS_Store

# Log files
*.log

/src/generated/prisma
